# Файлы базы данных
**/*.db

# Файлы с настройками
**/appsettings.json
**/appsettings.Development.json

# Папки с бинарными файлами и временные файлы
**/bin/
**/obj/
**/*.user
**/*.suo

# Другие файлы и папки, которые не должны попасть в репозиторий
# Например, папки с логами, кэшем и так далее
